<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!-- Favicon -->
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Beachglass TV</title>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <script>
      document.addEventListener('alpine:init', () => {
              Alpine.store('data', {
                movies: {{movies}},
                random: {{random}},
              })
      })
    </script>
    <header>
      <div class="z-50 transition duration-300 bg-black bg-opacity-80 flex justify-center items-center overflow-x-hidden overflow-y-auto fixed inset-0" x-data="{ visible: false, movie: $store.data.movies[$store.data.random] }" x-show="visible" x-cloak>
        <div class="relative w-auto mx-auto max-w-3xl rounded-md overflow-hidden">
          <div :class="visible ? 'scale-100' : 'scale-0'" class="transform duration-300 relative flex-auto bg-zinc-900 drop-shadow-md">
            <div class="relative h-96">
              <video class="w-full brightness-[60%] object-cover h-full" autoPlay muted loop :poster="movie.thumbnailUrl" :src="movie.videoUrl"></video>
              <div class="cursor-pointer absolute top-3 right-3 h-10 w-10 rounded-full bg-black bg-opacity-70 flex items-center justify-center" @click="visible = false">
                <img src="/img/aioutlineclose.svg" class="text-white w-6">
              </div>

              <div class="absolute bottom-[10%] left-10">
                <p class="text-white text-3xl md:text-4xl h-full lg:text-5xl font-bold mb-8" x-text="movie.title"></p>
                <div class="flex flex-row gap-4 items-center">
                  <button @click="router.push('/watch/movieId')"
                      class="bg-white rounded-md py-1 md:py-2 px-2 md:px-4 w-auto text-xs lg:text-lg font-semibold flex flex-row items-center hover:bg-neutral-300 transition"
                  >
                    <img src="/img/bsfillplayfill.svg" class="w-4 md:w-7 text-black mr-1">
                    Play
                  </button>
                  <div @click="toggleFavorite"
                      class="cursor-pointer group/item w-6 h-6 lg:w-10 lg:h-10 border-white border-2 rounded-full flex justify-center items-center transition hover:border-neutral-300"
                  >
                    <img :src="false ? '/img/aioutlinecheck.svg' : '/img/aioutlineplus.svg'" class="text-white group-hover/item:text-neutral-300 w-4 lg:w-6">
                  </div>
                </div>
              </div>
            </div>
            <div class="px-12 py-8">
              <p class="text-green-400 font-semibold text-lg">New</p>
              <p class="text-white text-lg" x-text="movie.duration"></p>
              <p class="text-white text-lg" x-text="movie.genre"></p>
              <p class="text-white text-lg" x-text="movie.description"></p>
            </div>
          </div>
        </div>
      </div>
      <nav class="w-full fixed z-40" x-data="{ background: false, mobile: false, account: false, active: 1, menu: [
                { id: 1, label: 'Home' },
                { id: 2, label: 'Series' },
                { id: 3, label: 'Films' },
                { id: 4, label: 'New & Popular' },
                { id: 5, label: 'My List' },
                { id: 6, label: 'Browse by languages' }
          ],
        }"
      >
        <div class="px-4 md:px-16 py-6 flex flex-row items-center transition duration-500" :class="background ? 'bg-zinc-900 bg-opacity-90' : ''">
          <img class="h-4 lg:h-7" src="/img/logo.png" alt="Logo">
          <div class="flex-row ml-8 gap-7 hidden lg:flex">
            <template x-for="item in menu" :key="item.id">
              <div @click="active = item.id" :class="item.id == active ? 'text-white cursor-default' : 'text-gray-200 hover:text-gray-300 cursor-pointer transition'" x-text="item.label">
              </div>
            </template>
          </div>
          <div @click="mobile = !mobile" class="lg:hidden flex flex-row items-center gap-2 ml-8 cursor-pointer relative">
            <p class="text-white text-sm">Browse</p>
            <img src="/img/bschevrondown.svg" class="w-4 text-white fill-white transition" :class="mobile ? 'rotate-180' : 'rotate-0'">
            <div x-show="mobile" class="bg-black w-56 absolute top-8 left-0 py-5 flex-col border-2 border-gray-800 flex">
              <div class="flex flex-col gap-4">
                <template x-for="item in menu" :key="item.id">
                  <div @click="active = item.id" class="px-3 text-center" :class="item.id == active ? 'text-white cursor-default' : 'text-gray-200 hover:underline cursor-pointer transition'" x-text="item.label">
                  </div>
                </template>
              </div>
            </div>
          </div>
          <div class="flex flex-row ml-auto gap-7 items-center">
            <div class="text-gray-200 hover:text-gray-300 cursor-pointer transition">
              <img src="/img/bssearch.svg" alt="Search" class="w-6">
            </div>
            <div class="text-gray-200 hover:text-gray-300 cursor-pointer transition">
              <img src="/img/bsbell.svg" alt="Notification" class="w-6">
            </div>
            <div @click="account = !account" class="flex flex-row items-center gap2 cursor-pointer relative">
              <div class="w-6 h-6 lg:w-10 lg:h-10 rounded-md overflow-hidden">
                <img src={{avatar}} alt="Profile">
              </div>
              <img src="/img/bschevrondown.svg" class="w-4 text-white fill-white transition" :class="account ? 'rotate-180' : 'rotate-0'">
              <div x-show="account" class="bg-black w-56 absolute top-14 right-0 py-5 flex-col border-2 border-gray-800 flex" x-cloak>
                <div class="flex flex-col gap-3">
                  <div hx-get="/profiles" hx-target="body" hx-swap="outerHTML" class="px-3 group/item flex flex-row gap-3 item-center w-full">
                    <img draggable="false" class="w-8 rounded-md" src={{avatar}} alt="Profile">
                    <p class="text-white text-sm group-hover/item:userline">{{name}}</p>
                  </div>
                  <hr class="bg-gray-600 border-0 h-px my-4" />
                  <div hx-post="/logout" hx-target="body" hx-swap="outerHTML" class="px-3 text-center text-white text-sm hover:underline">
                    Sign out of Beachglass
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="relative h-[56.25vw]" x-data="{ movie: $store.data.movies[$store.data.random] }">
        <video class="w-full h-[56.25vw] object-cover brightness-[60%] transition duration-500"
               autoPlay muted loop
               :poster="movie.thumbnailUrl"
               :src="movie.videoUrl"></video>
        <div class="absolute top-[30%] md:top-[40%] ml-4 md:ml-16">
          <p class="text-white text-1xl md:text-5xl h-full w-[50%] lg:text-6xl font-bold drop-shadow-xl" x-text="movie.title"></p>
          <p class="text-white text-[8px] md:text-lg mt-3 md:mt-8 w-[90%] md:w-[80%] lg:w-[50%] drop-shadow-xl" x-text="movie.description">
          </p>
          <div class="flex flex-row items-center mt-3 md:mt-4 gap-3">
            <button @click="location.href='/movies/'+movie.id" x-data
                class="bg-white rounded-md py-1 md:py-2 px-2 md:px-4 w-auto text-xs lg:text-lg font-semibold flex flex-row items-center hover:bg-neutral-300 transition"
            >
              <img src="/img/bsfillplayfill.svg" class="w-4 md:w-7 text-black mr-1">
              Play
            </button>
            <button @click="handleOpenModal" class="bg-white text-white bg-opacity-30 rounded-md py-1 md:py-2 px-2 md:px=4 w-auto text-xs lg:text-lg font-semibold flex flex-row items-center hover:bg-opacity-20 transition">
              <img src="/img/aioutlineinfocircle.svg" class="w-4 md:w-7 text-black mr-1">
              More Info
            </button>
          </div>
        </div>
      </section>
      <section x-data="{ lists: [{ id: 1, title: 'Trending Now' },
                             { id: 2, title: 'My List' }] }">
        <template x-for="item in lists" :key="item.id">
          <article class="pb-40">
            <div class="px-4 md:px-12 mt-4 space-y-8">
              <p class="text-white text-md md:text-xl lg:text-2xl font-semibold mb-4" x-text="item.title"></p>
              <div class="grid grid-cols-4 gap-2">
                <template x-for="movie in $store.data.movies" :key="movie.id">
                  <div class="group bg-zinc-900 col-span relative h-[12vw]">
                    <img @click="redirectToWatch" :src="movie.thumbnailUrl" alt="Thumbnail" draggable="false"
                         class="cursor-pointer object-cover transition duration shadow-xl rounded-md group-hover:opacity-90 sm:group-hover:opacity-0 delay-300 w-full h-[12vw]">
                    <div class="opacity-0 absolute top-0 transition duration-200 z-10 invisible sm:visible delay-300 w-full scale-0 group-hover:scale-110 group-hover:-translate-y-[6vw] group-hover:translate-x-[2vw] group-hover:opacity-100">
                      <img @click="redirectToWatch" :src="movie.thumbnailUrl" alt="Thumbnail" draggable="false"
                                 class="cursor-pointer object-cover transition duration shadow-xl rounded-t-md w-full h-[12vw]">
                      <div class="z-10 bg-zinc-800 p-2 lg:p-4 absolute w-full transition shadow-md rounded-b-md">
                        <div class="flex flex-row items-center gap-3">
                          <div @click="redirectToWatch" class="cursor-pointer w-6 h-6 lg:w-10 lg:h-10 bg-white rounded-full flex justify-center items-center transition hover:bg-neutral-300">
                            <img src="/img/bsfillplayfill.svg" class="text-black w-4 lg:w-6">
                          </div>
                          <div @click="toggleFavorite"
                              class="cursor-pointer group/item w-6 h-6 lg:w-10 lg:h-10 border-white border-2 rounded-full flex justify-center items-center transition hover:border-neutral-300"
                          >
                            <img :src="false ? '/img/aioutlinecheck.svg' : '/img/aioutlineplus.svg'" class="text-white group-hover/item:text-neutral-300 w-4 lg:w-6">
                          </div>
                          <div @click="openModal(movie.id)" class="cursor-pointer ml-auto group/item w-6 h-6 lg:w-10 lg:h-10 border-white border-2 rounded-full flex justify-center items-center transition hover:border-neutral-300">
                            <img src="/img/bichevrondown.svg" class="text-white group-hover/item:text-neutral-300 w-4 lg:w-6">
                          </div>
                        </div>
                        <p class="text-green-400 font-semibold mt-4">
                          New <span class="text-white">2023</span>
                        </p>
                        <div class="flex flex-row mt-4 gap-2 items-center">
                          <p class="text-white text-[10px] lg:text-sm" x-text="movie.duration"></p>
                        </div>
                        <div class="flex flex-row mt-4 gap-2 items-center">
                          <p class="text-white text-[8px] lg:text-sm" x-text="movie.genre"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </template> <!--movie card -->
              </div>
            </div>
          </article>
        </template> <!-- movie lists -->
      </section>
    </main>
  </body>
</html>
