<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!-- Favicon -->
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Beachglass TV</title>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div>
      <nav class="w-full fixed z-40" x-data="{ background: false, mobile: false, account: false, menu: [
                { id: 1, label: 'Home', active: true },
                { id: 2, label: 'Series' },
                { id: 3, label: 'Films' },
                { id: 4, label: 'New & Popular' },
                { id: 5, label: 'My List' },
                { id: 6, label: 'Browse by languages' }
          ],
        }"
      >
        <div class="px-4 md:px-16 py-6 flex flex-row items-center transition duration-500" :class="background ? 'bg-zinc-900 bg-opacity-90' : ''">
          <img class="h-4 lg:h-7" src="img/logo.png" alt="Logo">
          <div class="flex-row ml-8 gap-7 hidden lg:flex">
            <template x-for="item in menu" :key="item.id">
              <div :class="item.active ? 'text-white cursor-default' : 'text-gray-200 hover:text-gray-300 cursor-pointer transition'" x-text="item.label">
              </div>
            </template>
          </div>
          <div @click="mobile = !mobile" class="lg:hidden flex flex-row items-center gap-2 ml-8 cursor-pointer relative">
            <p class="text-white text-sm">Browse</p>
            <img src="img/bschevrondown.svg" alt="Google" class="w-4 text-white fill-white transition" :class="mobile ? 'rotate-180' : 'rotate-0'">
            <div x-show="mobile" class="bg-black w-56 absolute top-8 left-0 py-5 flex-col border-2 border-gray-800 flex">
              <div class="flex flex-col gap-4">
                <template x-for="item in menu" :key="item.id">
                  <div class="px-3 text-center" :class="item.active ? 'text-white cursor-default' : 'text-gray-200 hover:underline cursor-pointer transition'" x-text="item.label">
                  </div>
                </template>
              </div>
            </div>
          </div>
          <div class="flex flex-row ml-auto gap-7 items-center">
            <div class="text-gray-200 hover:text-gray-300 cursor-pointer transition">
              <img src="img/bssearch.svg" alt="Search Icon" class="w-6">
            </div>
            <div class="text-gray-200 hover:text-gray-300 cursor-pointer transition">
              <img src="img/bsbell.svg" alt="Bell Icon" class="w-6">
            </div>
            <div @click="account = !account" class="flex flex-row items-center gap2 cursor-pointer relative">
              <div class="w-6 h-6 lg:w-10 lg:h-10 rounded-md overflow-hidden">
                <img src="img/default-blue.png" alt="Profile">
              </div>
              <img src="img/bschevrondown.svg" class="w-4 text-white fill-white transition" :class="account ? 'rotate-180' : 'rotate-0'">
              <div x-show="account" class="bg-black w-56 absolute top-14 right-0 py-5 flex-col border-2 border-gray-800 flex" x-cloak>
                <div class="flex flex-col gap-3">
                  <div class="px-3 group/item flex flex-row gap-3 item-center w-full">
                    <img draggable="false" class="w-8 rounded-md" src="```avatar```" alt="Profile">
                    <p class="text-white text-sm group-hover/item:userline">
                      ```name```
                    </p>
                  </div>
                  <hr class="bg-gray-600 border-0 h-px my-4" />
                  <div @click="() => signOut()" class="px-3 text-center text-white text-sm hover:underline">
                    Sign out of Netflix
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
